
.properties-area {
  text-align: center;
  padding: 5rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.propiedades-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las tarjetas */
  gap: 20px; /* Espaciado entre las tarjetas */
  margin: 0 auto; /* Asegura que el contenedor esté centrado */
  padding: 20px; /* Opcional: agrega un poco de relleno */
  z-index: 10000;
}
/* Ajustes para el contenedor de tarjetas si es necesario */
.property-card {
  flex: 1 1 calc(33.33% - 40px); /* Asegura 3 columnas con espacio entre tarjetas */
  max-width: 400px; /* Limita el tamaño máximo si es necesario */
  box-sizing: border-box;
  margin: 10px; /* Espaciado adicional si es necesario */
}

.property-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}


/* Contenedor de la imagen de la propiedad destacada */
.featured-property-image-container {
  width: 100%;
  height: 200px; /* Altura fija */
  overflow: hidden;
  position: relative;
  transition: height 0.3s ease;
}

.featured-property-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  cursor: pointer;
  display: block;
}

/* Contenido de la tarjeta de propiedad destacada */
.featured-property-card-content {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-property-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.featured-property-card-price {
  font-size: 1rem;
  color: #007bff;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.featured-property-card-location {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.featured-property-card-location .react-icons {
  margin-right: 0.6rem;
  color: #00aaff;
}

.featured-property-card-description {
  font-size: 0.9rem;
  color: #777;
  height: 60px; /* Mantén una altura fija para la descripción */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.8rem;
}

/* Estilo Responsivo para propiedades destacadas */
@media (max-width: 768px) {
  .featured-properties-grid {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }

  .featured-property-image-container {
    height: 180px;
  }

  .featured-property-card-content {
    padding: 1rem;
  }

  .featured-property-card-title {
    font-size: 1rem; 
  }

  .featured-property-card-price,
  .featured-property-card-location,
  .featured-property-card-description {
    font-size: 0.8rem;
  }
}