.hero {
  height: 80vh;
  min-height: 600px;
  background-image: url('../../images/casa.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Overlay */
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según lo necesario */
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}

  
