/* Hero Section */
:root {
  --hero-height: 100vh; /* Cambiado a ocupar toda la pantalla */
  --hero-min-height: 600px;
  --text-color: #fff;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --font-size-large: 3rem;
  --font-size-medium: 1.5rem;
  --max-width: 800px;
  --search-bar-width: 90%;
  --search-bar-max-width: 800px;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  --border-radius: 8px;
}

.hero {
  height: var(--hero-height);
  min-height: var(--hero-min-height);
  background-image: url('../../images/casa.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
  color: var(--text-color);
}

.hero-overlay {
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Toma toda la altura del hero */
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay-color);
  z-index: 1;
}

.hero-text {
  color: var(--text-color);
  text-align: center;
  max-width: var(--max-width);
  z-index: 2;
}

.hero-text h1 {
  font-size: var(--font-size-large);
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: var(--font-size-medium);
  line-height: 1.6;
}

.hero-subtitle {
  color: #bbb;
}

/* Responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .search-bar {
    width: 95%;
    bottom: -15px;
  }
}

  
