#hero {
    height: 100vh; /* Ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../../assets/images/hero.jpg") center/cover no-repeat;
    color: white;
  }
  
  #hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  #hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
  }
  
  