.propiedades-page {
    padding-top: 100px;
    text-align: center;
  }
  
.properties-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    gap: 20px; /* Espaciado entre tarjetas */
    padding: 20px;
    box-sizing: border-box;
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el grid */
  }
  
  